<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>新規会員登録 - MOZOTOWN</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
  <!-- ヘッダー -->
	<span th:insert="fragment_header::frag_header"></span>

  <!-- パンくずリスト -->
  <ol class="container mt-4">
    <div class="row">
      <li class="breadcrumb-item"><a href="./toppage.html">MOZOTOWN</a></li>
      <li class="breadcrumb-item active" aria-current="page">メールアドレスの変更</li>
    </div>
  </ol>

  <div class="container mb-4">
    <div class="row">
      <img style="width: 50px;" th:src="@{/img/新規登録.png}" alt="新規登録アイコン">
      <h1 th:text="${session.userName} + 様の登録情報" class="align-self-end" style="font-size: 24px;">〇〇様の登録情報</h1>
    </div>
  </div>
  
  <div class="container d-flex mb-3">
    <div class="container row">
      <div class="col-md-2">
        <div>
          <b>会員登録情報</b>
        </div>
        <ul class="nav flex-column rounded">
          <li class="nav-item">
            <a class="nav-link" style="color: #808080; font-size: 13px;" href="#">会員登録情報</a>
          </li>
        </ul>
        <div>
          <b>退会</b>
        </div>
        <ul class="nav flex-column rounded">
          <li class="nav-item">
            <a class="nav-link" style="color: #808080; font-size: 13px;" href="#">退会手続き</a>
          </li>
        </ul>
      </div>

      <div class="col-md-10 p-5" style="background-color: #f0f0f0;">
        <div class="mb-4" style="font-size: 20px;">メールアドレスの変更</div>
        <div style="color: #808080; font-size: 10px;">
          <p>登録したいメールアドレスを入力し、確認メールを送信してください。</p>
        </div>
        <div class="row d-flex justify-content-center">
          <form class="col-md-8" method="post" th:action="@{/user/updateEmail}" style="background-color: #f0f0f0;">
            <fieldset>
              <div class="form-group">
                <label for="inputZipcode">メールアドレス:</label>
                <label
                  class="control-label"
                  style="color: red; display: block;"
                  for="inputError"
                  >メールアドレスを入力してください</label
                >
                <input
                  name="email"
                  type="text"
                  id="inputZipcode"
                  class="form-control"
                  placeholder="Mail Address"
                />
              </div>
    
              <div class="form-group d-flex justify-content-center">
              	<input type="hidden" name=id th:value="${session.user.id}">
                <button type="submit" class="btn btn-primary">確認メールを送信する</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>


  

  <!-- Footer-->
  <footer class="py-5" style="background-color: #f0f0f0;">
    <div class="container"><p class="m-0 text-center" style="color: #808080; font-size: 10px;">Copyright &copy; Dai Matsunaga Website 2021</p></div>
  </footer>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
</body>
</html>