<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>新規会員登録 - MOZOTOWN</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
  <!-- ヘッダー -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="./toppage.html">MOZOTOWN</a>
      <form action="#" method="get" class="col-5">
        <div class="col-auto">
          <div class="input-group mb-1">
              <input
              type="text"
              class="form-control"
              id="inlineFormInputGroup"
              placeholder="全てのアイテムから探す"
              />
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </div>
        </div>
      </form>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-lg-4">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./login.html">ログイン</a>
          </li>
          <li class="nav-item">
               <a class="nav-link" href="#!">お気に入り</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-dark" type="submit">
            <i class="bi-cart-fill me-1"></i>
            Cart
            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
          </button>
        </form>
      </div>
    </div>
  </nav>

  <!-- パンくずリスト -->
  <ol class="container">
    <div.<div class="row">
      <li class="breadcrumb-item"><a href="./toppage.html">MOZOTOWN</a></li>
      <li class="breadcrumb-item active" aria-current="page">パスワードの変更</li>
    </div>
  </ol>

  <div class="container mb-4">
    <div class="row">
      <img style="width: 50px;" src="/Users/matsunagadai/Downloads/practice:bootstrap/image/新規登録.png" alt="新規登録アイコン">
      <h1 class="align-self-end" style="font-size: 24px;">〇〇様の登録情報</h1>
    </div>
  </div>
  
  <div class="container d-flex mb-3">
    <div class="container row">
      <div class="col-md-2">
        <div>
          <b>会員登録情報</b>
        </div>
        <ul class="nav flex-column rounded">
          <li class="nav-item">
            <a class="nav-link" style="color: #808080; font-size: 13px;" href="#">会員登録情報</a>
          </li>
        </ul>
        <div>
          <b>退会</b>
        </div>
        <ul class="nav flex-column rounded">
          <li class="nav-item">
            <a class="nav-link" style="color: #808080; font-size: 13px;" href="#">退会手続き</a>
          </li>
        </ul>
      </div>

      <div class="col-md-10 p-5" style="background-color: #f0f0f0;">
        <div class="mb-4" style="font-size: 20px;">パスワードの変更</div>
        <div class="row d-flex justify-content-center">
          <form class="col-md-8" method="post" action="item_list_pizza.html" style="background-color: #f0f0f0;">
            <fieldset>
              <div class="form-group">
                <label for="inputZipcode">現在のパスワード:</label>
                <label
                  class="control-label"
                  style="color: red; display: block;"
                  for="inputError"
                  >現在のパスワードを入力してください</label
                >
                <input
                  type="text"
                  id="inputZipcode"
                  class="form-control"
                  placeholder="Current Password"
                />
              </div>
              <div class="form-group">
                <label for="inputAddress">新しいパスワード:</label>
                <label
                  class="control-label"
                  style="color: red; display: block"
                  for="inputError"
                  >新しいパスワードを入力してください</label
                >
                <input
                  type="text"
                  id="inputAddress"
                  class="form-control"
                  placeholder="New Password"
                />
              </div>
    
              <div class="form-group d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">パスワードを変更する</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>


  

  <!-- Footer-->
  <footer class="py-5" style="background-color: #f0f0f0;">
    <div class="container"><p class="m-0 text-center" style="color: #808080; font-size: 10px;">Copyright &copy; Dai Matsunaga Website 2021</p></div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>