<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
  crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
</head>
<body>
    <!-- ヘッダー -->
	<span th:insert="fragment_header::frag_header"></span>

    <!-- お店の名前 -->
    <div class="container mb-4">
      <a th:text="${item.shop.shopName}" class="navbar-brand" th:href="@{/shop/detail?id=} + ${item.shop.id}" style="font-size: 30px; color: black;">進む松永</a>
    </div>

    <!-- パンくずリスト -->
    <ol class="container mb-5">
      <div class="row">
        <li class="breadcrumb-item"><a th:href="@{/item}">MOZOTOWN</a></li>
        <li class="breadcrumb-item"><a th:href="@{/shop/detail?id=} + ${item.shop.id}" th:text="${item.shop.shopName}">ショップ名</a></li>
        <li class="breadcrumb-item"><a href="./toppage.html" th:text="${item.category.category}">ジャンル名</a></li>
        <li class="breadcrumb-item active" aria-current="page">アイテム詳細</li>
      </div>
    </ol>

    <!-- メイン -->
    <div class="container d-flex mb-3 mt-3">
      <div class="container row">
		<div class="col-6">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide" th:each="image : ${item.imageList}">
					 <img th:src="@{/img/} + ${image.imagePass}" style="width: 500px; height: 600px">
					</div> 
				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
				<div class="swiper-pagination"></div>
			</div>
			<span th:each="image : ${item.imageList}">
				<img class="m-1" style="width: 35px; height: 42px;" th:src="@{/img/} + ${image.imagePass}" alt="画像" >
			</span>
		</div>
  
        <div class="col-6 pl-5">
          <div class="mb-4" style="color: #17a2b8;">
          	<label class="fas fa-store-alt"></label>
            <a th:href="@{/shop/detail?id=} + ${item.shop.id}" th:text="${item.shop.shopName}" style="color: #17a2b8;">ブランド名</a>
          </div>

          <div class="mb-4" style="font-size: 18px;">
            <b th:text="${item.name}" >商品名</b>
          </div>

          <div class="mb-4" style="font-size: 25px;">
            <b th:text="￥ + ${#numbers.formatInteger(item.price, 1, 'COMMA')}" >￥4,880</b><span class="ml-2" style="font-size: 11px;">税込</span>
          </div>

          <div style="font-size: 11px;" class="mb-4">
            <span>お気に入りアイテム登録者数:&nbsp;</span>
            <span>10人</span>
          </div>

          <div class="mb-4">
            <table class="table">
              <tbody style="color: #808080;">
                <tr th:each="stock : ${item.stockList}">
                  <td style="vertical-align: middle;">
                    <div th:text="${stock.color}">ブラック</div>
                  </td>
                  <td class="" style="vertical-align: middle;">
                    <span th:text="${stock.size}">S</span>&nbsp;/
                    <span th:if="${stock.stock <= 3}" th:text="残り + ${stock.stock} + 点">残り3点</span>
                    <span th:unless="${stock.stock <= 3}">在庫あり</span>
                  </td>
                  <td style="vertical-align: middle;">
                    <form action="#" method="POST">
                      <button class="btn btn-outline-info"><i class="fas fa-shopping-cart"></i>カートに入れる</button>
                    </form>
                  </td>
                  <td style="vertical-align: middle; font-size: 20px;"> 
                    <i class="fas fa-heart"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
            <div class="mb-4" style="font-size: 20px;">アイテム説明</div>
            <div th:text="${item.itemInfo}">G.O.C(ジーオーシー) スタンドカラーショートペディン 中綿ジャケット

              韓国系ストリートカジュアルで最もトレンドな秋冬アウターのショートペディン
              
              昨年大人気だったGOCのショートペディンが今年はS～Lのサイズ展開と撥水加工を施しリニューアル。
              今季は新色としてトレンドカラーであるブルーグレー、グレイッシュベージュと数量限定カラーのシンセティックレザータイプ(ブラックその他２)を追加。</div>
          <div>

          </div>

          <hr>
        </div>
      </div>
    </div>
    	<!-- Footer-->
	<footer class="py-5" style="background-color: #f0f0f0">
		<div class="container">
			<p class="m-0 text-center" style="color: #808080; font-size: 10px">
				Copyright &copy; Dai Matsunaga Website 2021</p>
		</div>
	</footer>
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/fab1866c82.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
			const swiper = new Swiper('.swiper-container', {
			loop: true,
			// If we need pagination
			pagination: {
			el: '.swiper-pagination',
			},
			// Navigation arrows
			navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
			},
			// And if we need scrollbar
			scrollbar: {
			el: '.swiper-scrollbar',
			}
			});
</script>
</body>
</html>