<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>新規会員登録 - MOZOTOWN</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

</head>
<body>
	<span th:insert="fragment_header::frag_header"></span>

	<!-- パンくずリスト -->
	<ol class="container">
		<div class="row">
			<li class="breadcrumb-item"><a href="./toppage.html">MOZOTOWN</a></li>
			<li class="breadcrumb-item active" aria-current="page">退会手続き</li>
		</div>
	</ol>

	<div class="container mb-4">
		<div class="row">
			<img style="width: 50px;" src="/img/新規登録.png" alt="新規登録アイコン">
			<h1 th:text="${session.userName} + 様の登録情報" class="align-self-end"
				style="font-size: 24px;">〇〇様の登録情報</h1>
		</div>
	</div>
	<div class="container d-flex mb-3">
		<div class="container row">
			<div class="col-2">
				<div>
					<b>会員登録情報</b>
				</div>
				<ul class="nav flex-column rounded">
					<li class="nav-item"><a class="nav-link"
						style="color: #808080; font-size: 13px;" href="#">会員登録情報</a></li>
				</ul>
				<div>
					<b>退会</b>
				</div>
				<ul class="nav flex-column rounded">
					<li class="nav-item"><a class="nav-link"
						style="color: #808080; font-size: 13px;" href="#">退会手続き</a></li>
				</ul>
			</div>

			<div class="col-10 p-5" style="background-color: #f0f0f0;">
				<table class="table">
					<div class="mb-3" style="font-size: 20px;">退会手続き</div>
					<p style="color: #808080; font-size: 15px;">下記の項目を確認のうえ、チェックを入れお進みください。</p>
					<tbody style="color: #808080;">
						<tr>
							<td style="vertical-align: middle;"><label>会員登録情報について</label>
								<ul>
									<li style="font-size: 12px;">個人情報規定ならびに弊社のセキュリティシステム上、退会後の会員登録内容の確認はできなくなります。</li>
								</ul></td>
						</tr>
						<tr>
							<td style="vertical-align: middle;"><label>ポイントについて</label>
								<ul>
									<li style="font-size: 12px;">お持ちのポイントは無効となります。新しい会員登録へのポイントの移行はできません。</li>
									<li style="font-size: 12px;">MOZOCARDをお持ちの方は、退会後のMOZOポイント取得はできません。</li>
								</ul></td>
						</tr>
						<tr>
							<td style="vertical-align: middle;"><label>ご注文商品について</label>
								<ul>
									<li style="font-size: 12px;">既にご注文いただきました商品は、退会後も発送を行わせていただきます。</li>
									<li style="font-size: 12px;">退会後は、商品の配送先・お支払い方法・配達日時の変更はできません。</li>
								</ul></td>
						</tr>
						<tr class="d-flex justify-content-center">
							<td style="vertical-align: middle;"><a
								class="btn btn-outline-primary px-5" th:href="@{/item}">退会しない</a>
							</td>
							<td style="vertical-align: middle;"><a
								th:href="@{/user/delete?id=} + ${session.user.id}"
								class="btn btn-outline-primary px-5">退会する</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>




	<!-- Footer-->
	<footer class="py-5" style="background-color: #f0f0f0;">
		<div class="container">
			<p class="m-0 text-center" style="color: #808080; font-size: 10px;">Copyright
				&copy; Dai Matsunaga Website 2021</p>
		</div>
	</footer>

	<!-- Bootstrap core JS-->
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
</body>
</html>