<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>新規会員登録 - MOZOTOWN</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
  <!-- ヘッダー -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container">
        <a class="navbar-brand" th:href="@{/item}" style="font-size: 24px;">MOZOTOWN</a>
    </div>
  </nav>

  <!-- パンくずリスト -->
  <ol class="container">
    <div class="row">
      <li class="breadcrumb-item"><a th:href="@{/item}">MOZOTOWN</a></li>
      <li class="breadcrumb-item active" aria-current="page">新規会員登録</li>
    </div>
  </ol>

  <div class="container mb-4">
    <div class="row">
      <img style="width: 50px;" th:src="@{/img/新規登録.png}" alt="新規登録アイコン">
      <h1 class="align-self-end" style="font-size: 24px;">新規会員登録</h1>
    </div>
  </div>

  <div class="container mb-3">
    <div class="row d-flex justify-content-center">
      <form class="col-6 p-5 rounded" method="post" th:action="@{/user/insert}" style="background-color: #f0f0f0;">
        <fieldset>
          <div class="form-group">
            <label for="male">性別:</label>
            <label
              class="control-label"
              style="color: red"
              for="inputError"
              >性別を入力してください</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" id="male" value="1" checked>
              <label class="form-check-label" for="male">
                男性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </label>
              <input class="form-check-input" type="radio" name="gender" id="female" value="2">
              <label class="form-check-label" for="female">
                女性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </label>
              <input class="form-check-input" type="radio" name="gender" id="other" value="3">
              <label class="form-check-label" for="other">
                その他
              </label>
            </div>
          </div>

          <div class="form">
            <div class="form-group mt-4">
              <label class="form-label">生年月日:</label>
              <label
              class="control-label"
              style="color: red"
              for="inputError"
              >生年月日を入力してください</label
            >
              <div class="form-row">
                <div class="col-md">
                  <div class="form-row">
                    <div class="col">
                      <select id="year" class="form-control" name="year" placeholder="年">
                        <option value="">----</option>
						<option th:each="year : ${years}" th:value=${year} th:text="${year}">1921</option>
                      </select>
                    </div>
                    <div class="col-auto my-2">年</div>
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-row">
                    <div class="col">
                      <select id="" class="form-control" name="month" placeholder="月">
                        <option value="">--</option>
						<option th:each="month : ${months}" th:value=${month} th:text="${month}">1</option>
                      </select>
                    </div>
                    <div class="col-auto my-2">月</div>
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-row">
                    <div class="col">
                      <select id="" class="form-control" name="day" placeholder="日">
                        <option value="">--</option>
						<option th:each="day : ${days}" th:value=${day} th:text="${day}">1</option>
                      </select>
                    </div>
                    <div class="col-auto my-2">日</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail">メールアドレス:</label
            ><label
              class="control-label"
              style="color: red"
              for="inputError"
              >メールアドレスを入力してください</label
            >
            <input
              name="email"
              type="text"
              id="inputEmail"
              class="form-control"
              placeholder="Email"
            />
          </div>
          <div class="form-group">
            <label for="inputZipcode">郵便番号:</label>
            <label
              class="control-label"
              style="color: red"
              for="inputError"
              >郵便番号を入力してください</label
            >
            <input type="button" value="住所検索" id="get_address_btn"/>
            <input
              name="zipCode"
              type="text"
              id="inputZipcode"
              class="form-control"
              placeholder="Zipcode"
            />
          </div>
          <div class="form-group">
            <label for="inputAddress">住所:</label>
            <label
              class="control-label"
              style="color: red"
              for="inputError"
              >住所を入力してください</label
            >
            <input
              name="address"
              type="text"
              id="inputAddress"
              class="form-control"
              placeholder="Address"
            />
          </div>
          <div class="form-group">
            <label for="inputPassword">パスワード:</label>
            <label
              class="control-label"
              style="color: red"
              for="inputError"
              >パスワードを入力してください</label
            >
            <input
              name="password"
              type="text"
              id="inputPassword"
              class="form-control"
              placeholder="Password"
            />
          </div>
          <div class="form-group">
            <label for="inputConfirmationPassword"
              >確認用パスワード:</label
            >
            <label
              class="control-label"
              style="color: red"
              for="inputError"
              >確認用パスワードを入力してください</label
            >
            <input
              name="confirmPassword"
              type="text"
              id="inputConfirmationPassword"
              class="form-control"
              placeholder="Confirmation Password"
            />
          </div>
          
          <p style="color: #808080; font-size: 12px; text-align: center;">会員登録には、利用規約およびプライバシーポリシーへの同意が必要です。</p>

          <div class="form-group d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">同意して会員登録する</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="container mb-4 col-5" style="color: #808080; font-size: 10px;">
    <p>※ドメイン指定、迷惑メール設定によりメールが届かない場合がございます。お手数ですが、mozo.jpおよびcontact.mozo.jpからのメールを受信できるように設定してください。</p>
  </div>

  <!-- Footer-->
  <footer class="py-5" style="background-color: #f0f0f0;">
    <div class="container"><p class="m-0 text-center" style="color: #808080; font-size: 10px;">Copyright &copy; Dai Matsunaga Website 2021</p></div>
  </footer>

  <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
  <!-- /Bootstrap -->
  <script th:src="@{/js/get_address.js}"></script>
</body>
</html>