<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ショップ - MOZOTOWN</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<style type="text/css">
.display-none {
	display: none;
}
</style>
</head>
<body>
	<span th:insert="fragment_header::frag_header"></span>

	<!-- パンくずリスト -->
	<ol class="container mt-4">
		<div class="row">
			<li class="breadcrumb-item"><a th:href="@{/item}">MOZOTOWN</a></li>
			<li class="breadcrumb-item active" aria-current="page" th:text="${shop.shopName}">進む松永</li>
		</div>
	</ol>

	<div class="container d-flex mb-3 mt-3">
		<div class="container row">
			<div class="col-4">
				<img style="width: 300px; height: 300px; border-radius: 25px;"
					th:src="@{/img/} + ${shop.imagePass}">
			</div>

			<div class="col-7 ml-5 p-3">
				<h2 class="my-3" th:text="${shop.shopName}">進む松永</h2>
				<p th:text="${shop.shopNameKana}">ススムマツナガ</p>
				<form th:action="@{/like/shop}" method="post">
					<input th:unless="${session.user == null}" type="hidden" name="userId" th:value="${session.user.id}" id="userId">
					<input type="hidden" name="shopId" th:value="${shop.id}" id="shopId">
					<button th:classappend="${likes == 1}? display-none" type="button" class="btn btn-outline-success px-4"
						style="border-radius: 25px;" id="likes_shop_btn">♡お気に入りショップに追加</button>
					<button th:classappend="${likes == 0}? display-none" type="button" class="btn btn-outline-success px-4"
						style="border-radius: 25px;" id="delete_likes_shop_btn">♡お気に入りショップに追加済み</button>
				</form>
				<p class="mt-5" th:text="${shop.shopDetail}">
					日本の最先端ブランド。進む松永。壊れにくく長く使用すると味が出てくることで多くの人を虜にしています。</p>
			</div>
		</div>
	</div>
	<div class="container">

		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item"><a class="nav-link active" id="home-tab"
				data-toggle="tab" href="#all" role="tab" aria-controls="home"
				aria-selected="true">全て</a></li>
			<li class="nav-item"><a class="nav-link" id="profile-tab"
				data-toggle="tab" href="#male" role="tab" aria-controls="profile"
				aria-selected="false">メンズ</a></li>
			<li class="nav-item"><a class="nav-link" id="contact-tab"
				data-toggle="tab" href="#female" role="tab" aria-controls="contact"
				aria-selected="false">レディース</a></li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="container px-4 px-lg-5 mt-5 tab-pane fade show active" id="all" role="tabpanel"
				aria-labelledby="home-tab">
				<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
					<div class="col mb-5" th:each="item: ${itemList}">
						<div class="card h-100">
							<!-- Product image-->
							<a th:href="@{/item/detail?id=} + ${item.id}">
								<img class="card-img-top" style="height: 230px"
									th:src="@{/img/} + ${item.imageList[0].imagePass}"
									alt="..." />
							</a>
							<!-- Product details-->
							<div class="card-body p-4">
								<div class="text-start">
									<!-- Product name-->
									<h5 class="fw-bolder" th:text="${item.shop.shopName}" style="font-size: 13px">Fancy Product</h5>
									<!-- Product category-->
									<h5 class="fw-bolder" th:text="${item.category.category}" style="color: #808080; font-size: 12px;">Fancy Product</h5>
									<!-- Product price-->
									<h6 class="fw-bolder" th:text="￥ + ${#numbers.formatInteger(item.price, 1, 'COMMA')}" style="font-size: 20px">￥4,300</h6>
									<!-- Product colors-->
									<div class="fw-bolder" th:text="全 + ${item.colorList.size} + 色" style="color: #808080; font-size: 10px">全３色</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container px-4 px-lg-5 mt-5 tab-pane fade" id="male" role="tabpanel" aria-labelledby="profile-tab">
				<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
					<div class="col mb-5" th:if="${item.gender == 1}" th:each="item: ${itemList}">
						<div class="card h-100">
							<!-- Product image-->
							<a th:href="@{/item/detail?id=} + ${item.id}">
								<img class="card-img-top" style="height: 230px"
									th:src="@{/img/} + ${item.imageList[0].imagePass}"
									alt="..." />
							</a>
							<!-- Product details-->
							<div class="card-body p-4">
								<div class="text-start">
									<!-- Product name-->
									<h5 class="fw-bolder" th:text="${item.shop.shopName}" style="font-size: 13px">Fancy Product</h5>
									<!-- Product category-->
									<h5 class="fw-bolder" th:text="${item.category.category}" style="color: #808080; font-size: 12px;">Fancy Product</h5>
									<!-- Product price-->
									<h6 class="fw-bolder" th:text="￥ + ${#numbers.formatInteger(item.price, 1, 'COMMA')}" style="font-size: 20px">￥4,300</h6>
									<!-- Product colors-->
									<div class="fw-bolder" th:text="全 + ${item.colorList.size} + 色" style="color: #808080; font-size: 10px">全３色</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container px-4 px-lg-5 mt-5  tab-pane fade" id="female" role="tabpanel" aria-labelledby="contact-tab">
				<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
					<div class="col mb-5" th:if="${item.gender == 2}" th:each="item: ${itemList}">
						<div class="card h-100">
							<!-- Product image-->
							<a th:href="@{/item/detail?id=} + ${item.id}">
								<img class="card-img-top" style="height: 230px"
									th:src="@{/img/} + ${item.imageList[0].imagePass}"
									alt="..." />
							</a>
							<!-- Product details-->
							<div class="card-body p-4">
								<div class="text-start">
									<!-- Product name-->
									<h5 class="fw-bolder" th:text="${item.shop.shopName}" style="font-size: 13px">Fancy Product</h5>
									<!-- Product category-->
									<h5 class="fw-bolder" th:text="${item.category.category}" style="color: #808080; font-size: 12px;">Fancy Product</h5>
									<!-- Product price-->
									<h6 class="fw-bolder" th:text="￥ + ${#numbers.formatInteger(item.price, 1, 'COMMA')}" style="font-size: 20px">￥4,300</h6>
									<!-- Product colors-->
									<div class="fw-bolder" th:text="全 + ${item.colorList.size} + 色" style="color: #808080; font-size: 10px">全３色</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer-->
	<footer class="py-5" style="background-color: #f0f0f0;">
		<div class="container">
			<p class="m-0 text-center" style="color: #808080; font-size: 10px;">Copyright
				&copy; Dai Matsunaga Website 2021</p>
		</div>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
	<script th:src="@{/js/like_shop.js}"></script>

</body>
</html>