<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.example.repository.UserMapper">

   <insert id="insert">
       insert into users(gender, birthday, email, zip_code, address, password) 
       values(#{gender},#{birthday},#{email},#{zipCode},#{address},#{password})
   </insert>


</mapper>